# Cricket Analysis - Sam MacIntyre

A small toy project to perform some data exploration and prediction on cricket data (while improving my python skills)

## Data Import

In [3]:
# Library setups
import pandas as pd
import re
import datetime

In [4]:
# Import match and player data
dtBatsman = pd.read_csv("Batsman_Data.csv")
dtBowlers = pd.read_csv("Bowler_data.csv")
dtGroundAverages = pd.read_csv("Ground_Averages.csv")
dtODIresults = pd.read_csv("ODI_Match_Results.csv")
dtODImatchTotals = pd.read_csv("ODI_Match_Totals.csv")
dtWCplayers = pd.read_csv("WC_players.csv")

Let's have a look at the data structure and column types:

In [5]:
dtBatsman.head(10)

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas,49619
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas,49619
2,3,DNB,-,-,-,-,-,v India,Delhi,27 Dec 2009,ODI # 2936,Oshane Thomas,49619
3,4,DNB,-,-,-,-,-,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Oshane Thomas,49619
4,5,DNB,-,-,-,-,-,v India,Dhaka,5 Jan 2010,ODI # 2938,Oshane Thomas,49619
5,6,0*,0,8,0.00,0,0,v India,Dhaka,10 Jan 2010,ODI # 2941,Oshane Thomas,49619
6,7,0*,0,0,-,0,0,v England,The Oval,28 Jun 2011,ODI # 3165,Oshane Thomas,49619
7,8,DNB,-,-,-,-,-,v England,Leeds,1 Jul 2011,ODI # 3167,Oshane Thomas,49619
8,9,DNB,-,-,-,-,-,v England,Lord's,3 Jul 2011,ODI # 3168,Oshane Thomas,49619
9,10,1*,1,3,33.33,0,0,v England,Nottingham,6 Jul 2011,ODI # 3169,Oshane Thomas,49619


A few notable things immediately:
   - **Start** **Date** is not in date-time format
   -  **Match_ID** would be more effective if converted to just a numeric
   -  **Opposition** "v" is superfluous
   -  **Runs**, **BF**, **SR**, **4s**, *and*  **6s** are not always present as a player will not always bat in an ODI
   -  Each row represents 1 match
   - There is an unnecessary index column

In [6]:
dtBowlers.head(10)

,Unnamed: 0,Overs,Mdns,Runs,Wkts,Econ,Ave,SR,Opposition,Ground,Start Date,Match_ID,Bowler,Player_ID
0,1,8.0,0,57,0,7.12,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Suranga Lakmal,49619
1,2,10.0,0,55,2,5.50,27.50,30.0,v India,Kolkata,24 Dec 2009,ODI # 2935,Suranga Lakmal,49619
2,3,-,-,-,-,-,-,-,v India,Delhi,27 Dec 2009,ODI # 2936,Suranga Lakmal,49619
3,4,9.0,1,63,2,7.00,31.50,27.0,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Suranga Lakmal,49619
4,5,8.0,1,48,0,6.00,-,-,v India,Dhaka,5 Jan 2010,ODI # 2938,Suranga Lakmal,49619
5,6,10.0,0,75,0,7.50,-,-,v India,Dhaka,10 Jan 2010,ODI # 2941,Suranga Lakmal,49619
6,7,7.0,0,52,2,7.42,26.00,21.0,v England,The Oval,28 Jun 2011,ODI # 3165,Suranga Lakmal,49619
7,8,7.5,0,43,3,5.48,14.33,15.6,v England,Leeds,1 Jul 2011,ODI # 3167,Suranga Lakmal,49619
8,9,10.0,0,62,2,6.20,31.00,30.0,v England,Lord's,3 Jul 2011,ODI # 3168,Suranga Lakmal,49619
9,10,2.0,0,12,0,6.00,-,-,v England,Nottingham,6 Jul 2011,ODI # 3169,Suranga Lakmal,49619

Similar comments as above apply, questions arise again about how to deal with the missing data?
Does it signify that the bowler was playing but unused? Is this useful data in itself?

In [7]:
dtGroundAverages.head()

,Ground,Span,Mat,Won,Tied,NR,Runs,Wkts,Balls,Ave,RPO
0,"Eden Gardens, Kolkata - India",2013-2017,4,4,0,0,2161,72,2297,30.01,5.64
1,"Feroz Shah Kotla, Delhi - India",2013-2019,4,4,0,0,1789,75,2331,23.85,4.60
2,Melbourne Cricket Ground - Australia,2013-2019,15,15,0,0,7656,217,8482,35.28,5.41
3,"Saurashtra Cricket Association Stadium, Rajkot...",2013-2015,2,2,0,0,1163,26,1200,44.73,5.81
4,Adelaide Oval - Australia,2013-2019,10,10,0,0,4863,157,5645,30.97,5.16

Comments:
   - **Span** variable is not in a useful format (YearStart, YearEnd could be better)
   - Need to be careful with using such sparse data over long periods of time (does an average over 4 results over 4years give a real idea of current scoring nature of the pitch?

In [8]:
dtODIresults.head()

,Unnamed: 0,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date,Match_ID,Country,Country_ID
0,418,won,85 runs,NaN,lost,1st,v India,Kolkata,3 Jan 2013,ODI # 3315,Pakistan,7
1,692,lost,85 runs,NaN,won,2nd,v Pakistan,Kolkata,3 Jan 2013,ODI # 3315,India,6
2,419,lost,10 runs,NaN,lost,2nd,v India,Delhi,6 Jan 2013,ODI # 3316,Pakistan,7
3,693,won,10 runs,NaN,won,1st,v Pakistan,Delhi,6 Jan 2013,ODI # 3316,India,6
4,121,lost,107 runs,NaN,lost,2nd,v Australia,Melbourne,11 Jan 2013,ODI # 3317,SriLanka,8

Comments:
- First column is a unique ID
- Country is the home team
- Only the 10 world cup teams are included in the dataset
- **Margin** should be converted into a numeric variable
- **Start Date** --> date-time
- **Result**/**Toss** should be converted to numeric/boolean
- **Bat 1st** can be a dummy variable

In [9]:
dtODImatchTotals.head()

,Unnamed: 0,Score,Overs,RPO,Target,Inns,Result,Opposition,Ground,Start Date,Match_ID,Country,Country_ID
0,412,250,48.3,5.15,NaN,1,won,v India,Kolkata,3 Jan 2013,ODI # 3315,Pakistan,7
1,680,165,48.0,3.43,251.0,2,lost,v Pakistan,Kolkata,3 Jan 2013,ODI # 3315,India,6
2,413,157,48.5,3.21,168.0,2,lost,v India,Delhi,6 Jan 2013,ODI # 3316,Pakistan,7
3,681,167,43.4,3.82,NaN,1,won,v Pakistan,Delhi,6 Jan 2013,ODI # 3316,India,6
4,117,198,40.0,4.95,306.0,2,lost,v Australia,Melbourne,11 Jan 2013,ODI # 3317,SriLanka,8

Comments:
- Contains the scores of the team in the **Country** column
- **Target** only applicable if the team is chasing
- **Inns** = 1 will always imply NaN for **Target** as the team is batting first
- There are many opportunities to reduce the number of columns by merging these dataets

In [10]:
dtWCplayers.head()

              Player      ID      Country
0  Gulbadin Naib (c)  352048  Afghanistan
1   Rashid Khan (vc)  793463  Afghanistan
2         Aftab Alam  440963  Afghanistan
3      Asghar Afghan  320652  Afghanistan
4      Dawlat Zadran  516561  Afghanistan

Comments:
    List of all world cup players and their associated country

## Data Pre-Processing

In [11]:
# Convert Match_ID to string
dtBatsman['Match_ID'] = dtBatsman['Match_ID'].astype(str)

# Split ID on spaces and take only numeric part
new = dtBatsman["Match_ID"].str.split(" ", n = 2, expand = True) 

# Define new columns with match type and match ID
dtBatsman['Match_Type'] = new[0]
dtBatsman['Match_ID'] = new[2].astype(int)

In [12]:
# Check match type present
set(dtBatsman['Match_Type'])

{'ODI'}

We can see that ODI is the only match type (which was expected but good to verify), let's remove this column for cleanliness.

In [13]:
# Drop column match type
dtBatsman = dtBatsman.drop(columns = 'Match_Type')

In [14]:
# Remove 'v ' from Opposition
dtBatsman['Opposition'] = dtBatsman['Opposition'].apply(lambda x: x.split(" ", 1)[1])

Let's remove rows where the player didn't bat

In [15]:
index = dtBatsman[(dtBatsman.Bat1 == 'DNB') | (dtBatsman.Bat1 == 'TDNB') ].index
dtBatsman.drop(index, inplace = True)

Note the presence of absent/sub, absent should be removed.

In [16]:
indexes = dtBatsman[dtBatsman.Bat1 == 'absent'].index
dtBatsman.drop(indexes, inplace = True)

In [17]:
indexes = dtBatsman[dtBatsman.Bat1 == 'sub'].index
dtBatsman.drop(indexes, inplace = True)

In [18]:
set(dtBatsman.Bat1)

{'0',
 '0*',
 '1',
 '1*',
 '10',
 '10*',
 '100',
 '100*',
 '101',
 '101*',
 '102',
 '102*',
 '103',
 '103*',
 '104',
 '104*',
 '105',
 '105*',
 '106',
 '106*',
 '107',
 '107*',
 '108',
 '108*',
 '109',
 '109*',
 '11',
 '11*',
 '110',
 '110*',
 '111',
 '111*',
 '112',
 '112*',
 '113',
 '113*',
 '114',
 '115',
 '115*',
 '116',
 '116*',
 '117',
 '117*',
 '118',
 '118*',
 '119',
 '119*',
 '12',
 '12*',
 '120',
 '121',
 '122',
 '122*',
 '123',
 '123*',
 '124',
 '124*',
 '125',
 '125*',
 '126',
 '127',
 '127*',
 '128',
 '128*',
 '129',
 '129*',
 '13',
 '13*',
 '130',
 '130*',
 '131',
 '131*',
 '132',
 '132*',
 '133',
 '133*',
 '134',
 '134*',
 '135',
 '136',
 '136*',
 '137',
 '137*',
 '138',
 '138*',
 '139',
 '139*',
 '14',
 '14*',
 '140',
 '140*',
 '141*',
 '143',
 '144',
 '145*',
 '146*',
 '147',
 '148',
 '149',
 '15',
 '15*',
 '150',
 '150*',
 '151',
 '152',
 '152*',
 '153*',
 '154',
 '154*',
 '156',
 '157*',
 '159',
 '16',
 '16*',
 '160*',
 '162',
 '163',
 '164',
 '168*',
 '17',
 '17*',
 '170',
 '171',
 '171*',
 '173',
 '176*',
 '178',
 '179',
 '18',
 '18*',
 '180',
 '180*',
 '181*',
 '183',
 '183*',
 '185',
 '189*',
 '19',
 '19*',
 '2',
 '2*',
 '20',
 '20*',
 '208*',
 '209',
 '21',
 '21*',
 '210*',
 '215',
 '22',
 '22*',
 '23',
 '23*',
 '237*',
 '24',
 '24*',
 '25',
 '25*',
 '26',
 '26*',
 '264',
 '27',
 '27*',
 '28',
 '28*',
 '29',
 '29*',
 '3',
 '3*',
 '30',
 '30*',
 '31',
 '31*',
 '32',
 '32*',
 '33',
 '33*',
 '34',
 '34*',
 '35',
 '35*',
 '36',
 '36*',
 '37',
 '37*',
 '38',
 '38*',
 '39',
 '39*',
 '4',
 '4*',
 '40',
 '40*',
 '41',
 '41*',
 '42',
 '42*',
 '43',
 '43*',
 '44',
 '44*',
 '45',
 '45*',
 '46',
 '46*',
 '47',
 '47*',
 '48',
 '48*',
 '49',
 '49*',
 '5',
 '5*',
 '50',
 '50*',
 '51',
 '51*',
 '52',
 '52*',
 '53',
 '53*',
 '54',
 '54*',
 '55',
 '55*',
 '56',
 '56*',
 '57',
 '57*',
 '58',
 '58*',
 '59',
 '59*',
 '6',
 '6*',
 '60',
 '60*',
 '61',
 '61*',
 '62',
 '62*',
 '63',
 '63*',
 '64',
 '64*',
 '65',
 '65*',
 '66',
 '66*',
 '67',
 '67*',
 '68',
 '68*',
 '69',
 '69*',
 '7',
 '7*',
 '70',
 '70*',
 '71',
 '71*',
 '72',
 '72*',
 '73',
 '73*',
 '74',
 '74*',
 '75',
 '75*',
 '76',
 '76*',
 '77',
 '77*',
 '78',
 '78*',
 '79',
 '79*',
 '8',
 '8*',
 '80',
 '80*',
 '81',
 '81*',
 '82',
 '82*',
 '83',
 '83*',
 '84',
 '84*',
 '85',
 '85*',
 '86',
 '86*',
 '87',
 '87*',
 '88',
 '88*',
 '89',
 '89*',
 '9',
 '9*',
 '90',
 '90*',
 '91',
 '91*',
 '92',
 '92*',
 '93',
 '93*',
 '94',
 '95',
 '95*',
 '96',
 '96*',
 '97',
 '97*',
 '98',
 '99',
 '99*'}

In [19]:
dtBatsman = dtBatsman.astype({'Runs':int, 'BF':int, '4s':int, '6s':int, 'Opposition':str, 'Ground':str})

In [20]:
dtBatsman.dtypes

Unnamed: 0     int64
Bat1          object
Runs           int64
BF             int64
SR            object
4s             int64
6s             int64
Opposition    object
Ground        object
Start Date    object
Match_ID       int64
Batsman       object
Player_ID      int64
dtype: object

In [21]:

# Remove all entries with 0 balls faced
dtBatsman = dtBatsman.drop(dtBatsman[dtBatsman.BF == 0].index)

In [22]:
dtBatsman.SR = dtBatsman.SR.astype(float)

In [23]:
dtBatsman.dtypes

Unnamed: 0      int64
Bat1           object
Runs            int64
BF              int64
SR            float64
4s              int64
6s              int64
Opposition     object
Ground         object
Start Date     object
Match_ID        int64
Batsman        object
Player_ID       int64
dtype: object

In [24]:
dtBatsman

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
5,6,0*,0,8,0.00,0,0,India,Dhaka,10 Jan 2010,2941,Oshane Thomas,49619
9,10,1*,1,3,33.33,0,0,England,Nottingham,6 Jul 2011,3169,Oshane Thomas,49619
10,11,0*,0,2,0.00,0,0,Australia,Pallekele,10 Aug 2011,3175,Oshane Thomas,49619
11,12,0,0,2,0.00,0,0,Pakistan,Dubai (DSC),11 Nov 2011,3212,Oshane Thomas,49619
13,14,0,0,4,0.00,0,0,Pakistan,Dhaka,15 Mar 2012,3260,Oshane Thomas,49619
14,15,0,0,1,0.00,0,0,Bangladesh,Dhaka,20 Mar 2012,3265,Oshane Thomas,49619
15,16,1,1,5,20.00,0,0,India,Port of Spain,11 Jul 2013,3388,Oshane Thomas,49619
17,18,1*,1,1,100.00,0,0,Pakistan,Sharjah,18 Dec 2013,3445,Oshane Thomas,49619
18,19,2*,2,11,18.18,0,0,Pakistan,Abu Dhabi,25 Dec 2013,3448,Oshane Thomas,49619
26,27,4*,4,5,80.00,0,0,England,The Oval,22 May 2014,3492,Oshane Thomas,49619
29,30,0,0,3,0.00,0,0,New Zealand,Dunedin,23 Jan 2015,3588,Oshane Thomas,49619
30,31,3,3,5,60.00,0,0,New Zealand,Dunedin,25 Jan 2015,3590,Oshane Thomas,49619
31,32,7*,7,17,41.17,0,0,New Zealand,Christchurch,14 Feb 2015,3599,Oshane Thomas,49619
36,37,1*,1,3,33.33,0,0,Pakistan,Colombo (RPS),22 Jul 2015,3671,Oshane Thomas,49619
38,39,1*,1,4,25.00,0,0,West Indies,Colombo (RPS),1 Nov 2015,3701,Oshane Thomas,49619
41,42,8,8,9,88.88,0,0,New Zealand,Christchurch,26 Dec 2015,3714,Oshane Thomas,49619
43,44,7,7,8,87.50,0,0,England,Nottingham,21 Jun 2016,3751,Oshane Thomas,49619
45,46,3*,3,4,75.00,0,0,England,Bristol,26 Jun 2016,3755,Oshane Thomas,49619
47,48,10,10,23,43.47,1,0,England,Cardiff,2 Jul 2016,3758,Oshane Thomas,49619
48,49,0,0,1,0.00,0,0,Australia,Pallekele,4 Sep 2016,3776,Oshane Thomas,49619
50,51,0,0,1,0.00,0,0,West Indies,Harare,16 Nov 2016,3805,Oshane Thomas,49619
54,55,3,3,12,25.00,0,0,South Africa,Port Elizabeth,28 Jan 2017,3828,Oshane Thomas,49619
55,56,2*,2,5,40.00,0,0,South Africa,Durban,1 Feb 2017,3830,Oshane Thomas,49619
56,57,0,0,6,0.00,0,0,South Africa,Johannesburg,4 Feb 2017,3831,Oshane Thomas,49619
57,58,20*,20,28,71.42,1,1,South Africa,Centurion,10 Feb 2017,3834,Oshane Thomas,49619
58,59,8,8,9,88.88,1,0,Bangladesh,Dambulla,25 Mar 2017,3855,Oshane Thomas,49619
59,60,0,0,1,0.00,0,0,Bangladesh,Dambulla,28 Mar 2017,3856,Oshane Thomas,49619
60,61,2*,2,1,200.00,0,0,Bangladesh,Colombo (SSC),1 Apr 2017,3858,Oshane Thomas,49619
61,62,0,0,3,0.00,0,0,South Africa,The Oval,3 Jun 2017,3877,Oshane Thomas,49619
63,64,26,26,34,76.47,3,0,Pakistan,Cardiff,12 Jun 2017,3888,Oshane Thomas,49619
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11112,11113,1,1,3,33.33,0,0,Zimbabwe,Harare,16 Feb 2017,3835,Gulbadin Naib,352048
11113,11114,5,5,10,50.00,0,0,Zimbabwe,Harare,19 Feb 2017,3837,Gulbadin Naib,352048
11114,11115,16,16,32,50.00,2,0,Zimbabwe,Harare,21 Feb 2017,3838,Gulbadin Naib,352048
11115,11116,10,10,28,35.71,0,0,Zimbabwe,Harare,24 Feb 2017,3840,Gulbadin Naib,352048
11116,11117,6,6,8,75.00,1,0,Zimbabwe,Harare,26 Feb 2017,3842,Gulbadin Naib,352048
11117,11118,7,7,9,77.77,0,0,Ireland,Greater Noida,15 Mar 2017,3850,Gulbadin Naib,352048
11118,11119,0,0,1,0.00,0,0,Ireland,Greater Noida,17 Mar 2017,3851,Gulbadin Naib,352048
11119,11120,51,51,76,67.10,4,2,Ireland,Greater Noida,19 Mar 2017,3852,Gulbadin Naib,352048
11120,11121,2,2,9,22.22,0,0,Ireland,Greater Noida,22 Mar 2017,3853,Gulbadin Naib,352048
11122,11123,41*,41,28,146.42,3,2,West Indies,Gros Islet,9 Jun 2017,3884,Gulbadin Naib,352048
11123,11124,51,51,73,69.86,2,2,West Indies,Gros Islet,11 Jun 2017,3887,Gulbadin Naib,352048
11125,11126,17,17,27,62.96,0,1,Ireland,Sharjah,5 Dec 2017,3935,Gulbadin Naib,352048
11126,11127,3,3,12,25.00,0,0,Ireland,Sharjah,7 Dec 2017,3937,Gulbadin Naib,352048
11127,11128,15,15,40,37.50,1,0,Ireland,Sharjah,10 Dec 2017,3940,Gulbadin Naib,352048
11129,11130,0,0,1,0.00,0,0,Zimbabwe,Sharjah,11 Feb 2018,3974,Gulbadin Naib,352048
11131,11132,11,11,18,61.11,0,0,Scotland,Bulawayo,4 Mar 2018,3983,Gulbadin Naib,352048
11132,11133,10,10,14,71.42,1,0,West Indies,Harare,15 Mar 2018,3997,Gulbadin Naib,352048
11133,11134,74*,74,97,76.28,4,2,U.A.E.,Harare,20 Mar 2018,4003,Gulbadin Naib,352048
11134,11135,45,45,91,49.45,3,0,Ireland,Harare,23 Mar 2018,4006,Gulbadin Naib,352048
11135,11136,14,14,28,50.00,3,0,West Indies,Harare,25 Mar 2018,4007,Gulbadin Naib,352048
11136,11137,64,64,98,65.30,6,0,Ireland,Belfast,27 Aug 2018,4032,Gulbadin Naib,352048
11137,11138,7,7,14,50.00,1,0,Ireland,Belfast,29 Aug 2018,4033,Gulbadin Naib,352048
11139,11140,4,4,5,80.00,0,0,Sri Lanka,Abu Dhabi,17 Sep 2018,4038,Gulbadin Naib,352048
11140,11141,42*,42,38,110.52,5,0,Bangladesh,Abu Dhabi,20 Sep 2018,4041,Gulbadin Naib,352048
11141,11142,10*,10,7,142.85,1,0,Pakistan,Abu Dhabi,21 Sep 2018,4043,Gulbadin Naib,352048
11142,11143,0*,0,2,0.00,0,0,Bangladesh,Abu Dhabi,23 Sep 2018,4045,Gulbadin Naib,352048
11143,11144,15,15,46,32.60,1,0,India,Dubai (DSC),25 Sep 2018,4046,Gulbadin Naib,352048
11144,11145,46,46,61,75.40,6,1,Ireland,Dehradun,28 Feb 2019,4100,Gulbadin Naib,352048
11145,11146,3,3,6,50.00,0,0,Ireland,Dehradun,2 Mar 2019,4101,Gulbadin Naib,352048
11146,11147,1,1,8,12.50,0,0,Ireland,Dehradun,8 Mar 2019,4108,Gulbadin Naib,352048

Still to do:
- Remove first column
- Convert date to date-time object
- Create a "not-out" dummy variable

In [25]:
# drop column 1
dtBatsman = dtBatsman.drop(dtBatsman.columns[0], axis = 1)

In [26]:
dtBatsman

,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
5,0*,0,8,0.00,0,0,India,Dhaka,10 Jan 2010,2941,Oshane Thomas,49619
9,1*,1,3,33.33,0,0,England,Nottingham,6 Jul 2011,3169,Oshane Thomas,49619
10,0*,0,2,0.00,0,0,Australia,Pallekele,10 Aug 2011,3175,Oshane Thomas,49619
11,0,0,2,0.00,0,0,Pakistan,Dubai (DSC),11 Nov 2011,3212,Oshane Thomas,49619
13,0,0,4,0.00,0,0,Pakistan,Dhaka,15 Mar 2012,3260,Oshane Thomas,49619
14,0,0,1,0.00,0,0,Bangladesh,Dhaka,20 Mar 2012,3265,Oshane Thomas,49619
15,1,1,5,20.00,0,0,India,Port of Spain,11 Jul 2013,3388,Oshane Thomas,49619
17,1*,1,1,100.00,0,0,Pakistan,Sharjah,18 Dec 2013,3445,Oshane Thomas,49619
18,2*,2,11,18.18,0,0,Pakistan,Abu Dhabi,25 Dec 2013,3448,Oshane Thomas,49619
26,4*,4,5,80.00,0,0,England,The Oval,22 May 2014,3492,Oshane Thomas,49619
29,0,0,3,0.00,0,0,New Zealand,Dunedin,23 Jan 2015,3588,Oshane Thomas,49619
30,3,3,5,60.00,0,0,New Zealand,Dunedin,25 Jan 2015,3590,Oshane Thomas,49619
31,7*,7,17,41.17,0,0,New Zealand,Christchurch,14 Feb 2015,3599,Oshane Thomas,49619
36,1*,1,3,33.33,0,0,Pakistan,Colombo (RPS),22 Jul 2015,3671,Oshane Thomas,49619
38,1*,1,4,25.00,0,0,West Indies,Colombo (RPS),1 Nov 2015,3701,Oshane Thomas,49619
41,8,8,9,88.88,0,0,New Zealand,Christchurch,26 Dec 2015,3714,Oshane Thomas,49619
43,7,7,8,87.50,0,0,England,Nottingham,21 Jun 2016,3751,Oshane Thomas,49619
45,3*,3,4,75.00,0,0,England,Bristol,26 Jun 2016,3755,Oshane Thomas,49619
47,10,10,23,43.47,1,0,England,Cardiff,2 Jul 2016,3758,Oshane Thomas,49619
48,0,0,1,0.00,0,0,Australia,Pallekele,4 Sep 2016,3776,Oshane Thomas,49619
50,0,0,1,0.00,0,0,West Indies,Harare,16 Nov 2016,3805,Oshane Thomas,49619
54,3,3,12,25.00,0,0,South Africa,Port Elizabeth,28 Jan 2017,3828,Oshane Thomas,49619
55,2*,2,5,40.00,0,0,South Africa,Durban,1 Feb 2017,3830,Oshane Thomas,49619
56,0,0,6,0.00,0,0,South Africa,Johannesburg,4 Feb 2017,3831,Oshane Thomas,49619
57,20*,20,28,71.42,1,1,South Africa,Centurion,10 Feb 2017,3834,Oshane Thomas,49619
58,8,8,9,88.88,1,0,Bangladesh,Dambulla,25 Mar 2017,3855,Oshane Thomas,49619
59,0,0,1,0.00,0,0,Bangladesh,Dambulla,28 Mar 2017,3856,Oshane Thomas,49619
60,2*,2,1,200.00,0,0,Bangladesh,Colombo (SSC),1 Apr 2017,3858,Oshane Thomas,49619
61,0,0,3,0.00,0,0,South Africa,The Oval,3 Jun 2017,3877,Oshane Thomas,49619
63,26,26,34,76.47,3,0,Pakistan,Cardiff,12 Jun 2017,3888,Oshane Thomas,49619
...,...,...,...,...,...,...,...,...,...,...,...,...
11112,1,1,3,33.33,0,0,Zimbabwe,Harare,16 Feb 2017,3835,Gulbadin Naib,352048
11113,5,5,10,50.00,0,0,Zimbabwe,Harare,19 Feb 2017,3837,Gulbadin Naib,352048
11114,16,16,32,50.00,2,0,Zimbabwe,Harare,21 Feb 2017,3838,Gulbadin Naib,352048
11115,10,10,28,35.71,0,0,Zimbabwe,Harare,24 Feb 2017,3840,Gulbadin Naib,352048
11116,6,6,8,75.00,1,0,Zimbabwe,Harare,26 Feb 2017,3842,Gulbadin Naib,352048
11117,7,7,9,77.77,0,0,Ireland,Greater Noida,15 Mar 2017,3850,Gulbadin Naib,352048
11118,0,0,1,0.00,0,0,Ireland,Greater Noida,17 Mar 2017,3851,Gulbadin Naib,352048
11119,51,51,76,67.10,4,2,Ireland,Greater Noida,19 Mar 2017,3852,Gulbadin Naib,352048
11120,2,2,9,22.22,0,0,Ireland,Greater Noida,22 Mar 2017,3853,Gulbadin Naib,352048
11122,41*,41,28,146.42,3,2,West Indies,Gros Islet,9 Jun 2017,3884,Gulbadin Naib,352048
11123,51,51,73,69.86,2,2,West Indies,Gros Islet,11 Jun 2017,3887,Gulbadin Naib,352048
11125,17,17,27,62.96,0,1,Ireland,Sharjah,5 Dec 2017,3935,Gulbadin Naib,352048
11126,3,3,12,25.00,0,0,Ireland,Sharjah,7 Dec 2017,3937,Gulbadin Naib,352048
11127,15,15,40,37.50,1,0,Ireland,Sharjah,10 Dec 2017,3940,Gulbadin Naib,352048
11129,0,0,1,0.00,0,0,Zimbabwe,Sharjah,11 Feb 2018,3974,Gulbadin Naib,352048
11131,11,11,18,61.11,0,0,Scotland,Bulawayo,4 Mar 2018,3983,Gulbadin Naib,352048
11132,10,10,14,71.42,1,0,West Indies,Harare,15 Mar 2018,3997,Gulbadin Naib,352048
11133,74*,74,97,76.28,4,2,U.A.E.,Harare,20 Mar 2018,4003,Gulbadin Naib,352048
11134,45,45,91,49.45,3,0,Ireland,Harare,23 Mar 2018,4006,Gulbadin Naib,352048
11135,14,14,28,50.00,3,0,West Indies,Harare,25 Mar 2018,4007,Gulbadin Naib,352048
11136,64,64,98,65.30,6,0,Ireland,Belfast,27 Aug 2018,4032,Gulbadin Naib,352048
11137,7,7,14,50.00,1,0,Ireland,Belfast,29 Aug 2018,4033,Gulbadin Naib,352048
11139,4,4,5,80.00,0,0,Sri Lanka,Abu Dhabi,17 Sep 2018,4038,Gulbadin Naib,352048
11140,42*,42,38,110.52,5,0,Bangladesh,Abu Dhabi,20 Sep 2018,4041,Gulbadin Naib,352048
11141,10*,10,7,142.85,1,0,Pakistan,Abu Dhabi,21 Sep 2018,4043,Gulbadin Naib,352048
11142,0*,0,2,0.00,0,0,Bangladesh,Abu Dhabi,23 Sep 2018,4045,Gulbadin Naib,352048
11143,15,15,46,32.60,1,0,India,Dubai (DSC),25 Sep 2018,4046,Gulbadin Naib,352048
11144,46,46,61,75.40,6,1,Ireland,Dehradun,28 Feb 2019,4100,Gulbadin Naib,352048
11145,3,3,6,50.00,0,0,Ireland,Dehradun,2 Mar 2019,4101,Gulbadin Naib,352048
11146,1,1,8,12.50,0,0,Ireland,Dehradun,8 Mar 2019,4108,Gulbadin Naib,352048

In [27]:
# reset index
dtBatsman = dtBatsman.reset_index(drop = True)

In [28]:
dtBatsman

,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,0*,0,8,0.00,0,0,India,Dhaka,10 Jan 2010,2941,Oshane Thomas,49619
1,1*,1,3,33.33,0,0,England,Nottingham,6 Jul 2011,3169,Oshane Thomas,49619
2,0*,0,2,0.00,0,0,Australia,Pallekele,10 Aug 2011,3175,Oshane Thomas,49619
3,0,0,2,0.00,0,0,Pakistan,Dubai (DSC),11 Nov 2011,3212,Oshane Thomas,49619
4,0,0,4,0.00,0,0,Pakistan,Dhaka,15 Mar 2012,3260,Oshane Thomas,49619
5,0,0,1,0.00,0,0,Bangladesh,Dhaka,20 Mar 2012,3265,Oshane Thomas,49619
6,1,1,5,20.00,0,0,India,Port of Spain,11 Jul 2013,3388,Oshane Thomas,49619
7,1*,1,1,100.00,0,0,Pakistan,Sharjah,18 Dec 2013,3445,Oshane Thomas,49619
8,2*,2,11,18.18,0,0,Pakistan,Abu Dhabi,25 Dec 2013,3448,Oshane Thomas,49619
9,4*,4,5,80.00,0,0,England,The Oval,22 May 2014,3492,Oshane Thomas,49619
10,0,0,3,0.00,0,0,New Zealand,Dunedin,23 Jan 2015,3588,Oshane Thomas,49619
11,3,3,5,60.00,0,0,New Zealand,Dunedin,25 Jan 2015,3590,Oshane Thomas,49619
12,7*,7,17,41.17,0,0,New Zealand,Christchurch,14 Feb 2015,3599,Oshane Thomas,49619
13,1*,1,3,33.33,0,0,Pakistan,Colombo (RPS),22 Jul 2015,3671,Oshane Thomas,49619
14,1*,1,4,25.00,0,0,West Indies,Colombo (RPS),1 Nov 2015,3701,Oshane Thomas,49619
15,8,8,9,88.88,0,0,New Zealand,Christchurch,26 Dec 2015,3714,Oshane Thomas,49619
16,7,7,8,87.50,0,0,England,Nottingham,21 Jun 2016,3751,Oshane Thomas,49619
17,3*,3,4,75.00,0,0,England,Bristol,26 Jun 2016,3755,Oshane Thomas,49619
18,10,10,23,43.47,1,0,England,Cardiff,2 Jul 2016,3758,Oshane Thomas,49619
19,0,0,1,0.00,0,0,Australia,Pallekele,4 Sep 2016,3776,Oshane Thomas,49619
20,0,0,1,0.00,0,0,West Indies,Harare,16 Nov 2016,3805,Oshane Thomas,49619
21,3,3,12,25.00,0,0,South Africa,Port Elizabeth,28 Jan 2017,3828,Oshane Thomas,49619
22,2*,2,5,40.00,0,0,South Africa,Durban,1 Feb 2017,3830,Oshane Thomas,49619
23,0,0,6,0.00,0,0,South Africa,Johannesburg,4 Feb 2017,3831,Oshane Thomas,49619
24,20*,20,28,71.42,1,1,South Africa,Centurion,10 Feb 2017,3834,Oshane Thomas,49619
25,8,8,9,88.88,1,0,Bangladesh,Dambulla,25 Mar 2017,3855,Oshane Thomas,49619
26,0,0,1,0.00,0,0,Bangladesh,Dambulla,28 Mar 2017,3856,Oshane Thomas,49619
27,2*,2,1,200.00,0,0,Bangladesh,Colombo (SSC),1 Apr 2017,3858,Oshane Thomas,49619
28,0,0,3,0.00,0,0,South Africa,The Oval,3 Jun 2017,3877,Oshane Thomas,49619
29,26,26,34,76.47,3,0,Pakistan,Cardiff,12 Jun 2017,3888,Oshane Thomas,49619
...,...,...,...,...,...,...,...,...,...,...,...,...
8788,1,1,3,33.33,0,0,Zimbabwe,Harare,16 Feb 2017,3835,Gulbadin Naib,352048
8789,5,5,10,50.00,0,0,Zimbabwe,Harare,19 Feb 2017,3837,Gulbadin Naib,352048
8790,16,16,32,50.00,2,0,Zimbabwe,Harare,21 Feb 2017,3838,Gulbadin Naib,352048
8791,10,10,28,35.71,0,0,Zimbabwe,Harare,24 Feb 2017,3840,Gulbadin Naib,352048
8792,6,6,8,75.00,1,0,Zimbabwe,Harare,26 Feb 2017,3842,Gulbadin Naib,352048
8793,7,7,9,77.77,0,0,Ireland,Greater Noida,15 Mar 2017,3850,Gulbadin Naib,352048
8794,0,0,1,0.00,0,0,Ireland,Greater Noida,17 Mar 2017,3851,Gulbadin Naib,352048
8795,51,51,76,67.10,4,2,Ireland,Greater Noida,19 Mar 2017,3852,Gulbadin Naib,352048
8796,2,2,9,22.22,0,0,Ireland,Greater Noida,22 Mar 2017,3853,Gulbadin Naib,352048
8797,41*,41,28,146.42,3,2,West Indies,Gros Islet,9 Jun 2017,3884,Gulbadin Naib,352048
8798,51,51,73,69.86,2,2,West Indies,Gros Islet,11 Jun 2017,3887,Gulbadin Naib,352048
8799,17,17,27,62.96,0,1,Ireland,Sharjah,5 Dec 2017,3935,Gulbadin Naib,352048
8800,3,3,12,25.00,0,0,Ireland,Sharjah,7 Dec 2017,3937,Gulbadin Naib,352048
8801,15,15,40,37.50,1,0,Ireland,Sharjah,10 Dec 2017,3940,Gulbadin Naib,352048
8802,0,0,1,0.00,0,0,Zimbabwe,Sharjah,11 Feb 2018,3974,Gulbadin Naib,352048
8803,11,11,18,61.11,0,0,Scotland,Bulawayo,4 Mar 2018,3983,Gulbadin Naib,352048
8804,10,10,14,71.42,1,0,West Indies,Harare,15 Mar 2018,3997,Gulbadin Naib,352048
8805,74*,74,97,76.28,4,2,U.A.E.,Harare,20 Mar 2018,4003,Gulbadin Naib,352048
8806,45,45,91,49.45,3,0,Ireland,Harare,23 Mar 2018,4006,Gulbadin Naib,352048
8807,14,14,28,50.00,3,0,West Indies,Harare,25 Mar 2018,4007,Gulbadin Naib,352048
8808,64,64,98,65.30,6,0,Ireland,Belfast,27 Aug 2018,4032,Gulbadin Naib,352048
8809,7,7,14,50.00,1,0,Ireland,Belfast,29 Aug 2018,4033,Gulbadin Naib,352048
8810,4,4,5,80.00,0,0,Sri Lanka,Abu Dhabi,17 Sep 2018,4038,Gulbadin Naib,352048
8811,42*,42,38,110.52,5,0,Bangladesh,Abu Dhabi,20 Sep 2018,4041,Gulbadin Naib,352048
8812,10*,10,7,142.85,1,0,Pakistan,Abu Dhabi,21 Sep 2018,4043,Gulbadin Naib,352048
8813,0*,0,2,0.00,0,0,Bangladesh,Abu Dhabi,23 Sep 2018,4045,Gulbadin Naib,352048
8814,15,15,46,32.60,1,0,India,Dubai (DSC),25 Sep 2018,4046,Gulbadin Naib,352048
8815,46,46,61,75.40,6,1,Ireland,Dehradun,28 Feb 2019,4100,Gulbadin Naib,352048
8816,3,3,6,50.00,0,0,Ireland,Dehradun,2 Mar 2019,4101,Gulbadin Naib,352048
8817,1,1,8,12.50,0,0,Ireland,Dehradun,8 Mar 2019,4108,Gulbadin Naib,352048

In [29]:
# Create not out dummy
test = dtBatsman['Bat1'][8811]
test

'42*'

In [30]:
len(re.findall('\*', test))

1

In [31]:
dtBatsman['Not Out'] = [True if len(re.findall('\*',x)) == 1 else False for x in dtBatsman['Bat1']]

In [32]:
dtBatsman

,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID,Not Out
0,0*,0,8,0.00,0,0,India,Dhaka,10 Jan 2010,2941,Oshane Thomas,49619,True
1,1*,1,3,33.33,0,0,England,Nottingham,6 Jul 2011,3169,Oshane Thomas,49619,True
2,0*,0,2,0.00,0,0,Australia,Pallekele,10 Aug 2011,3175,Oshane Thomas,49619,True
3,0,0,2,0.00,0,0,Pakistan,Dubai (DSC),11 Nov 2011,3212,Oshane Thomas,49619,False
4,0,0,4,0.00,0,0,Pakistan,Dhaka,15 Mar 2012,3260,Oshane Thomas,49619,False
5,0,0,1,0.00,0,0,Bangladesh,Dhaka,20 Mar 2012,3265,Oshane Thomas,49619,False
6,1,1,5,20.00,0,0,India,Port of Spain,11 Jul 2013,3388,Oshane Thomas,49619,False
7,1*,1,1,100.00,0,0,Pakistan,Sharjah,18 Dec 2013,3445,Oshane Thomas,49619,True
8,2*,2,11,18.18,0,0,Pakistan,Abu Dhabi,25 Dec 2013,3448,Oshane Thomas,49619,True
9,4*,4,5,80.00,0,0,England,The Oval,22 May 2014,3492,Oshane Thomas,49619,True
10,0,0,3,0.00,0,0,New Zealand,Dunedin,23 Jan 2015,3588,Oshane Thomas,49619,False
11,3,3,5,60.00,0,0,New Zealand,Dunedin,25 Jan 2015,3590,Oshane Thomas,49619,False
12,7*,7,17,41.17,0,0,New Zealand,Christchurch,14 Feb 2015,3599,Oshane Thomas,49619,True
13,1*,1,3,33.33,0,0,Pakistan,Colombo (RPS),22 Jul 2015,3671,Oshane Thomas,49619,True
14,1*,1,4,25.00,0,0,West Indies,Colombo (RPS),1 Nov 2015,3701,Oshane Thomas,49619,True
15,8,8,9,88.88,0,0,New Zealand,Christchurch,26 Dec 2015,3714,Oshane Thomas,49619,False
16,7,7,8,87.50,0,0,England,Nottingham,21 Jun 2016,3751,Oshane Thomas,49619,False
17,3*,3,4,75.00,0,0,England,Bristol,26 Jun 2016,3755,Oshane Thomas,49619,True
18,10,10,23,43.47,1,0,England,Cardiff,2 Jul 2016,3758,Oshane Thomas,49619,False
19,0,0,1,0.00,0,0,Australia,Pallekele,4 Sep 2016,3776,Oshane Thomas,49619,False
20,0,0,1,0.00,0,0,West Indies,Harare,16 Nov 2016,3805,Oshane Thomas,49619,False
21,3,3,12,25.00,0,0,South Africa,Port Elizabeth,28 Jan 2017,3828,Oshane Thomas,49619,False
22,2*,2,5,40.00,0,0,South Africa,Durban,1 Feb 2017,3830,Oshane Thomas,49619,True
23,0,0,6,0.00,0,0,South Africa,Johannesburg,4 Feb 2017,3831,Oshane Thomas,49619,False
24,20*,20,28,71.42,1,1,South Africa,Centurion,10 Feb 2017,3834,Oshane Thomas,49619,True
25,8,8,9,88.88,1,0,Bangladesh,Dambulla,25 Mar 2017,3855,Oshane Thomas,49619,False
26,0,0,1,0.00,0,0,Bangladesh,Dambulla,28 Mar 2017,3856,Oshane Thomas,49619,False
27,2*,2,1,200.00,0,0,Bangladesh,Colombo (SSC),1 Apr 2017,3858,Oshane Thomas,49619,True
28,0,0,3,0.00,0,0,South Africa,The Oval,3 Jun 2017,3877,Oshane Thomas,49619,False
29,26,26,34,76.47,3,0,Pakistan,Cardiff,12 Jun 2017,3888,Oshane Thomas,49619,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8788,1,1,3,33.33,0,0,Zimbabwe,Harare,16 Feb 2017,3835,Gulbadin Naib,352048,False
8789,5,5,10,50.00,0,0,Zimbabwe,Harare,19 Feb 2017,3837,Gulbadin Naib,352048,False
8790,16,16,32,50.00,2,0,Zimbabwe,Harare,21 Feb 2017,3838,Gulbadin Naib,352048,False
8791,10,10,28,35.71,0,0,Zimbabwe,Harare,24 Feb 2017,3840,Gulbadin Naib,352048,False
8792,6,6,8,75.00,1,0,Zimbabwe,Harare,26 Feb 2017,3842,Gulbadin Naib,352048,False
8793,7,7,9,77.77,0,0,Ireland,Greater Noida,15 Mar 2017,3850,Gulbadin Naib,352048,False
8794,0,0,1,0.00,0,0,Ireland,Greater Noida,17 Mar 2017,3851,Gulbadin Naib,352048,False
8795,51,51,76,67.10,4,2,Ireland,Greater Noida,19 Mar 2017,3852,Gulbadin Naib,352048,False
8796,2,2,9,22.22,0,0,Ireland,Greater Noida,22 Mar 2017,3853,Gulbadin Naib,352048,False
8797,41*,41,28,146.42,3,2,West Indies,Gros Islet,9 Jun 2017,3884,Gulbadin Naib,352048,True
8798,51,51,73,69.86,2,2,West Indies,Gros Islet,11 Jun 2017,3887,Gulbadin Naib,352048,False
8799,17,17,27,62.96,0,1,Ireland,Sharjah,5 Dec 2017,3935,Gulbadin Naib,352048,False
8800,3,3,12,25.00,0,0,Ireland,Sharjah,7 Dec 2017,3937,Gulbadin Naib,352048,False
8801,15,15,40,37.50,1,0,Ireland,Sharjah,10 Dec 2017,3940,Gulbadin Naib,352048,False
8802,0,0,1,0.00,0,0,Zimbabwe,Sharjah,11 Feb 2018,3974,Gulbadin Naib,352048,False
8803,11,11,18,61.11,0,0,Scotland,Bulawayo,4 Mar 2018,3983,Gulbadin Naib,352048,False
8804,10,10,14,71.42,1,0,West Indies,Harare,15 Mar 2018,3997,Gulbadin Naib,352048,False
8805,74*,74,97,76.28,4,2,U.A.E.,Harare,20 Mar 2018,4003,Gulbadin Naib,352048,True
8806,45,45,91,49.45,3,0,Ireland,Harare,23 Mar 2018,4006,Gulbadin Naib,352048,False
8807,14,14,28,50.00,3,0,West Indies,Harare,25 Mar 2018,4007,Gulbadin Naib,352048,False
8808,64,64,98,65.30,6,0,Ireland,Belfast,27 Aug 2018,4032,Gulbadin Naib,352048,False
8809,7,7,14,50.00,1,0,Ireland,Belfast,29 Aug 2018,4033,Gulbadin Naib,352048,False
8810,4,4,5,80.00,0,0,Sri Lanka,Abu Dhabi,17 Sep 2018,4038,Gulbadin Naib,352048,False
8811,42*,42,38,110.52,5,0,Bangladesh,Abu Dhabi,20 Sep 2018,4041,Gulbadin Naib,352048,True
8812,10*,10,7,142.85,1,0,Pakistan,Abu Dhabi,21 Sep 2018,4043,Gulbadin Naib,352048,True
8813,0*,0,2,0.00,0,0,Bangladesh,Abu Dhabi,23 Sep 2018,4045,Gulbadin Naib,352048,True
8814,15,15,46,32.60,1,0,India,Dubai (DSC),25 Sep 2018,4046,Gulbadin Naib,352048,False
8815,46,46,61,75.40,6,1,Ireland,Dehradun,28 Feb 2019,4100,Gulbadin Naib,352048,False
8816,3,3,6,50.00,0,0,Ireland,Dehradun,2 Mar 2019,4101,Gulbadin Naib,352048,False
8817,1,1,8,12.50,0,0,Ireland,Dehradun,8 Mar 2019,4108,Gulbadin Naib,352048,False

In [33]:
# Drop the Bat1 column, now unnecessary
dtBatsman.drop(columns = 'Bat1', inplace = True)

In [34]:
dtBatsman

,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID,Not Out
0,0,8,0.00,0,0,India,Dhaka,10 Jan 2010,2941,Oshane Thomas,49619,True
1,1,3,33.33,0,0,England,Nottingham,6 Jul 2011,3169,Oshane Thomas,49619,True
2,0,2,0.00,0,0,Australia,Pallekele,10 Aug 2011,3175,Oshane Thomas,49619,True
3,0,2,0.00,0,0,Pakistan,Dubai (DSC),11 Nov 2011,3212,Oshane Thomas,49619,False
4,0,4,0.00,0,0,Pakistan,Dhaka,15 Mar 2012,3260,Oshane Thomas,49619,False
5,0,1,0.00,0,0,Bangladesh,Dhaka,20 Mar 2012,3265,Oshane Thomas,49619,False
6,1,5,20.00,0,0,India,Port of Spain,11 Jul 2013,3388,Oshane Thomas,49619,False
7,1,1,100.00,0,0,Pakistan,Sharjah,18 Dec 2013,3445,Oshane Thomas,49619,True
8,2,11,18.18,0,0,Pakistan,Abu Dhabi,25 Dec 2013,3448,Oshane Thomas,49619,True
9,4,5,80.00,0,0,England,The Oval,22 May 2014,3492,Oshane Thomas,49619,True
10,0,3,0.00,0,0,New Zealand,Dunedin,23 Jan 2015,3588,Oshane Thomas,49619,False
11,3,5,60.00,0,0,New Zealand,Dunedin,25 Jan 2015,3590,Oshane Thomas,49619,False
12,7,17,41.17,0,0,New Zealand,Christchurch,14 Feb 2015,3599,Oshane Thomas,49619,True
13,1,3,33.33,0,0,Pakistan,Colombo (RPS),22 Jul 2015,3671,Oshane Thomas,49619,True
14,1,4,25.00,0,0,West Indies,Colombo (RPS),1 Nov 2015,3701,Oshane Thomas,49619,True
15,8,9,88.88,0,0,New Zealand,Christchurch,26 Dec 2015,3714,Oshane Thomas,49619,False
16,7,8,87.50,0,0,England,Nottingham,21 Jun 2016,3751,Oshane Thomas,49619,False
17,3,4,75.00,0,0,England,Bristol,26 Jun 2016,3755,Oshane Thomas,49619,True
18,10,23,43.47,1,0,England,Cardiff,2 Jul 2016,3758,Oshane Thomas,49619,False
19,0,1,0.00,0,0,Australia,Pallekele,4 Sep 2016,3776,Oshane Thomas,49619,False
20,0,1,0.00,0,0,West Indies,Harare,16 Nov 2016,3805,Oshane Thomas,49619,False
21,3,12,25.00,0,0,South Africa,Port Elizabeth,28 Jan 2017,3828,Oshane Thomas,49619,False
22,2,5,40.00,0,0,South Africa,Durban,1 Feb 2017,3830,Oshane Thomas,49619,True
23,0,6,0.00,0,0,South Africa,Johannesburg,4 Feb 2017,3831,Oshane Thomas,49619,False
24,20,28,71.42,1,1,South Africa,Centurion,10 Feb 2017,3834,Oshane Thomas,49619,True
25,8,9,88.88,1,0,Bangladesh,Dambulla,25 Mar 2017,3855,Oshane Thomas,49619,False
26,0,1,0.00,0,0,Bangladesh,Dambulla,28 Mar 2017,3856,Oshane Thomas,49619,False
27,2,1,200.00,0,0,Bangladesh,Colombo (SSC),1 Apr 2017,3858,Oshane Thomas,49619,True
28,0,3,0.00,0,0,South Africa,The Oval,3 Jun 2017,3877,Oshane Thomas,49619,False
29,26,34,76.47,3,0,Pakistan,Cardiff,12 Jun 2017,3888,Oshane Thomas,49619,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8788,1,3,33.33,0,0,Zimbabwe,Harare,16 Feb 2017,3835,Gulbadin Naib,352048,False
8789,5,10,50.00,0,0,Zimbabwe,Harare,19 Feb 2017,3837,Gulbadin Naib,352048,False
8790,16,32,50.00,2,0,Zimbabwe,Harare,21 Feb 2017,3838,Gulbadin Naib,352048,False
8791,10,28,35.71,0,0,Zimbabwe,Harare,24 Feb 2017,3840,Gulbadin Naib,352048,False
8792,6,8,75.00,1,0,Zimbabwe,Harare,26 Feb 2017,3842,Gulbadin Naib,352048,False
8793,7,9,77.77,0,0,Ireland,Greater Noida,15 Mar 2017,3850,Gulbadin Naib,352048,False
8794,0,1,0.00,0,0,Ireland,Greater Noida,17 Mar 2017,3851,Gulbadin Naib,352048,False
8795,51,76,67.10,4,2,Ireland,Greater Noida,19 Mar 2017,3852,Gulbadin Naib,352048,False
8796,2,9,22.22,0,0,Ireland,Greater Noida,22 Mar 2017,3853,Gulbadin Naib,352048,False
8797,41,28,146.42,3,2,West Indies,Gros Islet,9 Jun 2017,3884,Gulbadin Naib,352048,True
8798,51,73,69.86,2,2,West Indies,Gros Islet,11 Jun 2017,3887,Gulbadin Naib,352048,False
8799,17,27,62.96,0,1,Ireland,Sharjah,5 Dec 2017,3935,Gulbadin Naib,352048,False
8800,3,12,25.00,0,0,Ireland,Sharjah,7 Dec 2017,3937,Gulbadin Naib,352048,False
8801,15,40,37.50,1,0,Ireland,Sharjah,10 Dec 2017,3940,Gulbadin Naib,352048,False
8802,0,1,0.00,0,0,Zimbabwe,Sharjah,11 Feb 2018,3974,Gulbadin Naib,352048,False
8803,11,18,61.11,0,0,Scotland,Bulawayo,4 Mar 2018,3983,Gulbadin Naib,352048,False
8804,10,14,71.42,1,0,West Indies,Harare,15 Mar 2018,3997,Gulbadin Naib,352048,False
8805,74,97,76.28,4,2,U.A.E.,Harare,20 Mar 2018,4003,Gulbadin Naib,352048,True
8806,45,91,49.45,3,0,Ireland,Harare,23 Mar 2018,4006,Gulbadin Naib,352048,False
8807,14,28,50.00,3,0,West Indies,Harare,25 Mar 2018,4007,Gulbadin Naib,352048,False
8808,64,98,65.30,6,0,Ireland,Belfast,27 Aug 2018,4032,Gulbadin Naib,352048,False
8809,7,14,50.00,1,0,Ireland,Belfast,29 Aug 2018,4033,Gulbadin Naib,352048,False
8810,4,5,80.00,0,0,Sri Lanka,Abu Dhabi,17 Sep 2018,4038,Gulbadin Naib,352048,False
8811,42,38,110.52,5,0,Bangladesh,Abu Dhabi,20 Sep 2018,4041,Gulbadin Naib,352048,True
8812,10,7,142.85,1,0,Pakistan,Abu Dhabi,21 Sep 2018,4043,Gulbadin Naib,352048,True
8813,0,2,0.00,0,0,Bangladesh,Abu Dhabi,23 Sep 2018,4045,Gulbadin Naib,352048,True
8814,15,46,32.60,1,0,India,Dubai (DSC),25 Sep 2018,4046,Gulbadin Naib,352048,False
8815,46,61,75.40,6,1,Ireland,Dehradun,28 Feb 2019,4100,Gulbadin Naib,352048,False
8816,3,6,50.00,0,0,Ireland,Dehradun,2 Mar 2019,4101,Gulbadin Naib,352048,False
8817,1,8,12.50,0,0,Ireland,Dehradun,8 Mar 2019,4108,Gulbadin Naib,352048,False

In [35]:
test = dtBatsman['Start Date'][1]

In [36]:
test

'6 Jul 2011'

In [37]:
test = pd.to_datetime(test)

In [38]:
test.month

7

In [39]:
dtBatsman['Start Date'] = pd.to_datetime(dtBatsman['Start Date'])

In [40]:
dtBatsman

,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID,Not Out
0,0,8,0.00,0,0,India,Dhaka,2010-01-10,2941,Oshane Thomas,49619,True
1,1,3,33.33,0,0,England,Nottingham,2011-07-06,3169,Oshane Thomas,49619,True
2,0,2,0.00,0,0,Australia,Pallekele,2011-08-10,3175,Oshane Thomas,49619,True
3,0,2,0.00,0,0,Pakistan,Dubai (DSC),2011-11-11,3212,Oshane Thomas,49619,False
4,0,4,0.00,0,0,Pakistan,Dhaka,2012-03-15,3260,Oshane Thomas,49619,False
5,0,1,0.00,0,0,Bangladesh,Dhaka,2012-03-20,3265,Oshane Thomas,49619,False
6,1,5,20.00,0,0,India,Port of Spain,2013-07-11,3388,Oshane Thomas,49619,False
7,1,1,100.00,0,0,Pakistan,Sharjah,2013-12-18,3445,Oshane Thomas,49619,True
8,2,11,18.18,0,0,Pakistan,Abu Dhabi,2013-12-25,3448,Oshane Thomas,49619,True
9,4,5,80.00,0,0,England,The Oval,2014-05-22,3492,Oshane Thomas,49619,True
10,0,3,0.00,0,0,New Zealand,Dunedin,2015-01-23,3588,Oshane Thomas,49619,False
11,3,5,60.00,0,0,New Zealand,Dunedin,2015-01-25,3590,Oshane Thomas,49619,False
12,7,17,41.17,0,0,New Zealand,Christchurch,2015-02-14,3599,Oshane Thomas,49619,True
13,1,3,33.33,0,0,Pakistan,Colombo (RPS),2015-07-22,3671,Oshane Thomas,49619,True
14,1,4,25.00,0,0,West Indies,Colombo (RPS),2015-11-01,3701,Oshane Thomas,49619,True
15,8,9,88.88,0,0,New Zealand,Christchurch,2015-12-26,3714,Oshane Thomas,49619,False
16,7,8,87.50,0,0,England,Nottingham,2016-06-21,3751,Oshane Thomas,49619,False
17,3,4,75.00,0,0,England,Bristol,2016-06-26,3755,Oshane Thomas,49619,True
18,10,23,43.47,1,0,England,Cardiff,2016-07-02,3758,Oshane Thomas,49619,False
19,0,1,0.00,0,0,Australia,Pallekele,2016-09-04,3776,Oshane Thomas,49619,False
20,0,1,0.00,0,0,West Indies,Harare,2016-11-16,3805,Oshane Thomas,49619,False
21,3,12,25.00,0,0,South Africa,Port Elizabeth,2017-01-28,3828,Oshane Thomas,49619,False
22,2,5,40.00,0,0,South Africa,Durban,2017-02-01,3830,Oshane Thomas,49619,True
23,0,6,0.00,0,0,South Africa,Johannesburg,2017-02-04,3831,Oshane Thomas,49619,False
24,20,28,71.42,1,1,South Africa,Centurion,2017-02-10,3834,Oshane Thomas,49619,True
25,8,9,88.88,1,0,Bangladesh,Dambulla,2017-03-25,3855,Oshane Thomas,49619,False
26,0,1,0.00,0,0,Bangladesh,Dambulla,2017-03-28,3856,Oshane Thomas,49619,False
27,2,1,200.00,0,0,Bangladesh,Colombo (SSC),2017-04-01,3858,Oshane Thomas,49619,True
28,0,3,0.00,0,0,South Africa,The Oval,2017-06-03,3877,Oshane Thomas,49619,False
29,26,34,76.47,3,0,Pakistan,Cardiff,2017-06-12,3888,Oshane Thomas,49619,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8788,1,3,33.33,0,0,Zimbabwe,Harare,2017-02-16,3835,Gulbadin Naib,352048,False
8789,5,10,50.00,0,0,Zimbabwe,Harare,2017-02-19,3837,Gulbadin Naib,352048,False
8790,16,32,50.00,2,0,Zimbabwe,Harare,2017-02-21,3838,Gulbadin Naib,352048,False
8791,10,28,35.71,0,0,Zimbabwe,Harare,2017-02-24,3840,Gulbadin Naib,352048,False
8792,6,8,75.00,1,0,Zimbabwe,Harare,2017-02-26,3842,Gulbadin Naib,352048,False
8793,7,9,77.77,0,0,Ireland,Greater Noida,2017-03-15,3850,Gulbadin Naib,352048,False
8794,0,1,0.00,0,0,Ireland,Greater Noida,2017-03-17,3851,Gulbadin Naib,352048,False
8795,51,76,67.10,4,2,Ireland,Greater Noida,2017-03-19,3852,Gulbadin Naib,352048,False
8796,2,9,22.22,0,0,Ireland,Greater Noida,2017-03-22,3853,Gulbadin Naib,352048,False
8797,41,28,146.42,3,2,West Indies,Gros Islet,2017-06-09,3884,Gulbadin Naib,352048,True
8798,51,73,69.86,2,2,West Indies,Gros Islet,2017-06-11,3887,Gulbadin Naib,352048,False
8799,17,27,62.96,0,1,Ireland,Sharjah,2017-12-05,3935,Gulbadin Naib,352048,False
8800,3,12,25.00,0,0,Ireland,Sharjah,2017-12-07,3937,Gulbadin Naib,352048,False
8801,15,40,37.50,1,0,Ireland,Sharjah,2017-12-10,3940,Gulbadin Naib,352048,False
8802,0,1,0.00,0,0,Zimbabwe,Sharjah,2018-02-11,3974,Gulbadin Naib,352048,False
8803,11,18,61.11,0,0,Scotland,Bulawayo,2018-03-04,3983,Gulbadin Naib,352048,False
8804,10,14,71.42,1,0,West Indies,Harare,2018-03-15,3997,Gulbadin Naib,352048,False
8805,74,97,76.28,4,2,U.A.E.,Harare,2018-03-20,4003,Gulbadin Naib,352048,True
8806,45,91,49.45,3,0,Ireland,Harare,2018-03-23,4006,Gulbadin Naib,352048,False
8807,14,28,50.00,3,0,West Indies,Harare,2018-03-25,4007,Gulbadin Naib,352048,False
8808,64,98,65.30,6,0,Ireland,Belfast,2018-08-27,4032,Gulbadin Naib,352048,False
8809,7,14,50.00,1,0,Ireland,Belfast,2018-08-29,4033,Gulbadin Naib,352048,False
8810,4,5,80.00,0,0,Sri Lanka,Abu Dhabi,2018-09-17,4038,Gulbadin Naib,352048,False
8811,42,38,110.52,5,0,Bangladesh,Abu Dhabi,2018-09-20,4041,Gulbadin Naib,352048,True
8812,10,7,142.85,1,0,Pakistan,Abu Dhabi,2018-09-21,4043,Gulbadin Naib,352048,True
8813,0,2,0.00,0,0,Bangladesh,Abu Dhabi,2018-09-23,4045,Gulbadin Naib,352048,True
8814,15,46,32.60,1,0,India,Dubai (DSC),2018-09-25,4046,Gulbadin Naib,352048,False
8815,46,61,75.40,6,1,Ireland,Dehradun,2019-02-28,4100,Gulbadin Naib,352048,False
8816,3,6,50.00,0,0,Ireland,Dehradun,2019-03-02,4101,Gulbadin Naib,352048,False
8817,1,8,12.50,0,0,Ireland,Dehradun,2019-03-08,4108,Gulbadin Naib,352048,False

In [41]:
dtBatsman.set_index('Start Date', inplace = True)

In [69]:
dtBatsman

,Runs,BF,SR,4s,6s,Opposition,Ground,Match_ID,Batsman,Player_ID,Not Out
Start Date,,,,,,,,,,,
2010-01-10,0,8,0.00,0,0,India,Dhaka,2941,Oshane Thomas,914567,True
2011-07-06,1,3,33.33,0,0,England,Nottingham,3169,Oshane Thomas,914567,True
2011-08-10,0,2,0.00,0,0,Australia,Pallekele,3175,Oshane Thomas,914567,True
2011-11-11,0,2,0.00,0,0,Pakistan,Dubai (DSC),3212,Oshane Thomas,914567,False
2012-03-15,0,4,0.00,0,0,Pakistan,Dhaka,3260,Oshane Thomas,914567,False
2012-03-20,0,1,0.00,0,0,Bangladesh,Dhaka,3265,Oshane Thomas,914567,False
2013-07-11,1,5,20.00,0,0,India,Port of Spain,3388,Oshane Thomas,914567,False
2013-12-18,1,1,100.00,0,0,Pakistan,Sharjah,3445,Oshane Thomas,914567,True
2013-12-25,2,11,18.18,0,0,Pakistan,Abu Dhabi,3448,Oshane Thomas,914567,True
2014-05-22,4,5,80.00,0,0,England,The Oval,3492,Oshane Thomas,914567,True
2015-01-23,0,3,0.00,0,0,New Zealand,Dunedin,3588,Oshane Thomas,914567,False
2015-01-25,3,5,60.00,0,0,New Zealand,Dunedin,3590,Oshane Thomas,914567,False
2015-02-14,7,17,41.17,0,0,New Zealand,Christchurch,3599,Oshane Thomas,914567,True
2015-07-22,1,3,33.33,0,0,Pakistan,Colombo (RPS),3671,Oshane Thomas,914567,True
2015-11-01,1,4,25.00,0,0,West Indies,Colombo (RPS),3701,Oshane Thomas,914567,True
2015-12-26,8,9,88.88,0,0,New Zealand,Christchurch,3714,Oshane Thomas,914567,False
2016-06-21,7,8,87.50,0,0,England,Nottingham,3751,Oshane Thomas,914567,False
2016-06-26,3,4,75.00,0,0,England,Bristol,3755,Oshane Thomas,914567,True
2016-07-02,10,23,43.47,1,0,England,Cardiff,3758,Oshane Thomas,914567,False
2016-09-04,0,1,0.00,0,0,Australia,Pallekele,3776,Oshane Thomas,914567,False
2016-11-16,0,1,0.00,0,0,West Indies,Harare,3805,Oshane Thomas,914567,False
2017-01-28,3,12,25.00,0,0,South Africa,Port Elizabeth,3828,Oshane Thomas,914567,False
2017-02-01,2,5,40.00,0,0,South Africa,Durban,3830,Oshane Thomas,914567,True
2017-02-04,0,6,0.00,0,0,South Africa,Johannesburg,3831,Oshane Thomas,914567,False
2017-02-10,20,28,71.42,1,1,South Africa,Centurion,3834,Oshane Thomas,914567,True
2017-03-25,8,9,88.88,1,0,Bangladesh,Dambulla,3855,Oshane Thomas,914567,False
2017-03-28,0,1,0.00,0,0,Bangladesh,Dambulla,3856,Oshane Thomas,914567,False
2017-04-01,2,1,200.00,0,0,Bangladesh,Colombo (SSC),3858,Oshane Thomas,914567,True
2017-06-03,0,3,0.00,0,0,South Africa,The Oval,3877,Oshane Thomas,914567,False
2017-06-12,26,34,76.47,3,0,Pakistan,Cardiff,3888,Oshane Thomas,914567,False
...,...,...,...,...,...,...,...,...,...,...,...
2017-02-16,1,3,33.33,0,0,Zimbabwe,Harare,3835,Gulbadin Naib,352048,False
2017-02-19,5,10,50.00,0,0,Zimbabwe,Harare,3837,Gulbadin Naib,352048,False
2017-02-21,16,32,50.00,2,0,Zimbabwe,Harare,3838,Gulbadin Naib,352048,False
2017-02-24,10,28,35.71,0,0,Zimbabwe,Harare,3840,Gulbadin Naib,352048,False
2017-02-26,6,8,75.00,1,0,Zimbabwe,Harare,3842,Gulbadin Naib,352048,False
2017-03-15,7,9,77.77,0,0,Ireland,Greater Noida,3850,Gulbadin Naib,352048,False
2017-03-17,0,1,0.00,0,0,Ireland,Greater Noida,3851,Gulbadin Naib,352048,False
2017-03-19,51,76,67.10,4,2,Ireland,Greater Noida,3852,Gulbadin Naib,352048,False
2017-03-22,2,9,22.22,0,0,Ireland,Greater Noida,3853,Gulbadin Naib,352048,False
2017-06-09,41,28,146.42,3,2,West Indies,Gros Islet,3884,Gulbadin Naib,352048,True
2017-06-11,51,73,69.86,2,2,West Indies,Gros Islet,3887,Gulbadin Naib,352048,False
2017-12-05,17,27,62.96,0,1,Ireland,Sharjah,3935,Gulbadin Naib,352048,False
2017-12-07,3,12,25.00,0,0,Ireland,Sharjah,3937,Gulbadin Naib,352048,False
2017-12-10,15,40,37.50,1,0,Ireland,Sharjah,3940,Gulbadin Naib,352048,False
2018-02-11,0,1,0.00,0,0,Zimbabwe,Sharjah,3974,Gulbadin Naib,352048,False
2018-03-04,11,18,61.11,0,0,Scotland,Bulawayo,3983,Gulbadin Naib,352048,False
2018-03-15,10,14,71.42,1,0,West Indies,Harare,3997,Gulbadin Naib,352048,False
2018-03-20,74,97,76.28,4,2,U.A.E.,Harare,4003,Gulbadin Naib,352048,True
2018-03-23,45,91,49.45,3,0,Ireland,Harare,4006,Gulbadin Naib,352048,False
2018-03-25,14,28,50.00,3,0,West Indies,Harare,4007,Gulbadin Naib,352048,False
2018-08-27,64,98,65.30,6,0,Ireland,Belfast,4032,Gulbadin Naib,352048,False
2018-08-29,7,14,50.00,1,0,Ireland,Belfast,4033,Gulbadin Naib,352048,False
2018-09-17,4,5,80.00,0,0,Sri Lanka,Abu Dhabi,4038,Gulbadin Naib,352048,False
2018-09-20,42,38,110.52,5,0,Bangladesh,Abu Dhabi,4041,Gulbadin Naib,352048,True
2018-09-21,10,7,142.85,1,0,Pakistan,Abu Dhabi,4043,Gulbadin Naib,352048,True
2018-09-23,0,2,0.00,0,0,Bangladesh,Abu Dhabi,4045,Gulbadin Naib,352048,True
2018-09-25,15,46,32.60,1,0,India,Dubai (DSC),4046,Gulbadin Naib,352048,False
2019-02-28,46,61,75.40,6,1,Ireland,Dehradun,4100,Gulbadin Naib,352048,False
2019-03-02,3,6,50.00,0,0,Ireland,Dehradun,4101,Gulbadin Naib,352048,False
2019-03-08,1,8,12.50,0,0,Ireland,Dehradun,4108,Gulbadin Naib,352048,False

In [49]:
dtWCplayers.head()
dtWCplayers.rename(columns = {"ID": "Player_ID"}, inplace = True)
dtWCplayers.head()

              Player  Player_ID      Country
0  Gulbadin Naib (c)     352048  Afghanistan
1   Rashid Khan (vc)     793463  Afghanistan
2         Aftab Alam     440963  Afghanistan
3      Asghar Afghan     320652  Afghanistan
4      Dawlat Zadran     516561  Afghanistan

In [73]:
# Now need to merge the World cup players datatable and the batsmen table, to obtain only the data of those who played
# in the world cup and also obtain their country of origin, first rename ID column in WCplayers


dtWCplayers.rename(columns = {"ID": "Player_ID"})


dtBatsmanM = pd.merge(dtBatsman,
                     dtWCplayers,
                     on = "Player_ID",
                     how = "left")

In [74]:
dtBatsmanM.head()

,Runs,BF,SR,4s,6s,Opposition,Ground,Match_ID,Batsman,Player_ID,Not Out,Player,Country
0,0,8,0.00,0,0,India,Dhaka,2941,Oshane Thomas,914567,True,Oshane Thomas,WestIndies
1,1,3,33.33,0,0,England,Nottingham,3169,Oshane Thomas,914567,True,Oshane Thomas,WestIndies
2,0,2,0.00,0,0,Australia,Pallekele,3175,Oshane Thomas,914567,True,Oshane Thomas,WestIndies
3,0,2,0.00,0,0,Pakistan,Dubai (DSC),3212,Oshane Thomas,914567,False,Oshane Thomas,WestIndies
4,0,4,0.00,0,0,Pakistan,Dhaka,3260,Oshane Thomas,914567,False,Oshane Thomas,WestIndies

Let´s check if this operation has worked correctly...

In [54]:
dtBatsmanM[{"Batsman", "Player_ID", "Country"}].drop_duplicates()

                   Batsman      Country  Player_ID
0            Oshane Thomas          NaN      49619
42           Oshane Thomas   WestIndies     914567
45           Andre Russell   WestIndies     276298
89             Kemar Roach   WestIndies     230553
136       Nicholas Pooran    WestIndies     604302
137           Ashley Nurse   WestIndies     315594
173             Evin Lewis   WestIndies     431901
205              Shai Hope   WestIndies     581379
255        Shimron Hetmyer   WestIndies     670025
279        Shannon Gabriel   WestIndies     446101
289           Fabian Allen   WestIndies     670013
294       Sheldon Cottrell   WestIndies     495551
300           Darren Bravo   WestIndies     277472
402      Carlos Brathwaite   WestIndies     457249
431           Chris Gayle    WestIndies      51880
714          Jason Holder    WestIndies     391485
789          Nuwan Pradeep     SriLanka     324358
803         Lasith Malinga     SriLanka      49758
910    Milinda Siriwardana     SriLanka     222354
933          Jeevan Mendis     SriLanka      49700
973      Jeffrey Vandersay     SriLanka     370040
980            Isuru Udana     SriLanka     328026
983         Thisara Perera     SriLanka     233514
1103         Kusal Perera      SriLanka     300631
1186          Kusal Mendis     SriLanka     629074
1245     Lahiru Thirimanne     SriLanka     301236
1341      Avishka Fernando     SriLanka     784369
1346        Angelo Mathews     SriLanka      49764
1519  Dhananjaya de Silva      SriLanka     465793
1549   Dimuth Karunaratne      SriLanka     227772
...                    ...          ...        ...
7473          David Warner    Australia     219889
7577        Marcus Stoinis    Australia     325012
7608        Mitchell Starc    Australia     311592
7639           Steve Smith    Australia     267192
7733       Kane Richardson    Australia     272262
7742       Jhye Richardson    Australia     774223
7748         Glenn Maxwell    Australia     325026
7838           Shaun Marsh    Australia       6683
7908           Nathan Lyon    Australia     272279
7918         Usman Khawaja    Australia     215155
7948   Nathan Coulter-Nile    Australia     261354
7965     Jason Behrendorff    Australia     272477
7967           Alex Carey     Australia     326434
7984          Pat Cummins     Australia     489889
8010          Aaron Finch     Australia       5334
8115    Samiullah Shinwari  Afghanistan     318339
8186           Rahmat Shah  Afghanistan     533956
8241       Noor Ali Zadran  Afghanistan     318340
8287     Najibullah Zadran  Afghanistan     524049
8337      Mujeeb Ur Rahman  Afghanistan     974109
8347     Mohammad Shahzad   Afghanistan     419873
8427         Mohammad Nabi  Afghanistan      25913
8526     Hazratullah Zazai  Afghanistan     793457
8533  Hashmatullah Shahidi  Afghanistan     440970
8562          Hamid Hassan  Afghanistan     311427
8578         Dawlat Zadran  Afghanistan     516561
8626         Asghar Afghan  Afghanistan     320652
8720            Aftab Alam  Afghanistan     440963
8732          Rashid Khan   Afghanistan     793463
8774        Gulbadin Naib   Afghanistan     352048

[149 rows x 3 columns]

We see that Oshane Thomas has two associated IDs which has created a NaN value..is the only one?

In [62]:
dtBatsmanM[{"Batsman", "Player_ID", "Country"}].drop_duplicates()["Country"].value_counts(dropna = False)

SouthAfrica    16
Australia      16
England        15
India          15
Pakistan       15
Afghanistan    15
WestIndies     15
NewZealand     14
SriLanka       14
Bangladesh     13
NaN             1
Name: Country, dtype: int64

Now we have some evidence that Oshane Thomas´double ID is the only example of such a case. Let´s change the batsmen data to only have one ID, matching the WC players table.

In [66]:
dtBatsman.loc[dtBatsman.Batsman == "Oshane Thomas", "Player_ID"] = 914567

In [82]:
# Reperform the merge
dtBatsmanM = dtBatsman.merge(dtWCplayers[["Player_ID",
                                         "Country"]],
                             how = "left").set_index(dtBatsman.index)

In [83]:
# Same number of rows retained - sanity check
len(dtBatsmanM)

8818

In [114]:
dtBatsmanM["Year"] = dtBatsmanM.index.year

Int64Index([2010, 2011, 2011, 2011, 2012, 2012, 2013, 2013, 2013, 2014,
            ...
            2018, 2018, 2018, 2018, 2018, 2018, 2018, 2019, 2019, 2019],
           dtype='int64', name='Start Date', length=8818)

In [115]:
dtBatsmanM.head()

,Runs,BF,SR,4s,6s,Opposition,Ground,Match_ID,Batsman,Player_ID,Not Out,Country,Year
Start Date,,,,,,,,,,,,,
2010-01-10,0,8,0.00,0,0,India,Dhaka,2941,Oshane Thomas,914567,True,WestIndies,2010
2011-07-06,1,3,33.33,0,0,England,Nottingham,3169,Oshane Thomas,914567,True,WestIndies,2011
2011-08-10,0,2,0.00,0,0,Australia,Pallekele,3175,Oshane Thomas,914567,True,WestIndies,2011
2011-11-11,0,2,0.00,0,0,Pakistan,Dubai (DSC),3212,Oshane Thomas,914567,False,WestIndies,2011
2012-03-15,0,4,0.00,0,0,Pakistan,Dhaka,3260,Oshane Thomas,914567,False,WestIndies,2012

Some ideas for feature engineering and condensing the batsmen dataset:
- Total runs/year/batsman
- Batting average (previous 6 months, 12 months, 2 years)
- Average strike rate
- Not out percentage
-

In [107]:
dtRPY = dtBatsmanM.groupby([dtBatsmanM.index.year,"Batsman"]).sum()[["Runs"]]

In [124]:
 dtRPY["Year"] = dtRPY.index.get_level_values(0)
dtRPY.head()

                         Runs  Year
Start Date Batsman
1999       Chris Gayle     58  1999
           Shoaib Malik    15  1999
2000       Chris Gayle    273  2000
           Shoaib Malik    36  2000
2001       Chris Gayle    722  2001

In [132]:
# Try to merge the number of runs/year for each batsmen
dtBatsmanRPY = pd.merge(dtBatsmanM,
                        dtRPY,
                        on = ["Batsman", "Year"],
                        how = "left",
                       suffixes = ["_match", "_yr"])

In [133]:
dtBatsmanRPY.head(20)

,Runs_match,BF,SR,4s,6s,Opposition,Ground,Match_ID,Batsman,Player_ID,Not Out,Country,Year,Runs_yr
0,0,8,0.00,0,0,India,Dhaka,2941,Oshane Thomas,914567,True,WestIndies,2010,0
1,1,3,33.33,0,0,England,Nottingham,3169,Oshane Thomas,914567,True,WestIndies,2011,1
2,0,2,0.00,0,0,Australia,Pallekele,3175,Oshane Thomas,914567,True,WestIndies,2011,1
3,0,2,0.00,0,0,Pakistan,Dubai (DSC),3212,Oshane Thomas,914567,False,WestIndies,2011,1
4,0,4,0.00,0,0,Pakistan,Dhaka,3260,Oshane Thomas,914567,False,WestIndies,2012,0
5,0,1,0.00,0,0,Bangladesh,Dhaka,3265,Oshane Thomas,914567,False,WestIndies,2012,0
6,1,5,20.00,0,0,India,Port of Spain,3388,Oshane Thomas,914567,False,WestIndies,2013,4
7,1,1,100.00,0,0,Pakistan,Sharjah,3445,Oshane Thomas,914567,True,WestIndies,2013,4
8,2,11,18.18,0,0,Pakistan,Abu Dhabi,3448,Oshane Thomas,914567,True,WestIndies,2013,4
9,4,5,80.00,0,0,England,The Oval,3492,Oshane Thomas,914567,True,WestIndies,2014,4
10,0,3,0.00,0,0,New Zealand,Dunedin,3588,Oshane Thomas,914567,False,WestIndies,2015,20
11,3,5,60.00,0,0,New Zealand,Dunedin,3590,Oshane Thomas,914567,False,WestIndies,2015,20
12,7,17,41.17,0,0,New Zealand,Christchurch,3599,Oshane Thomas,914567,True,WestIndies,2015,20
13,1,3,33.33,0,0,Pakistan,Colombo (RPS),3671,Oshane Thomas,914567,True,WestIndies,2015,20
14,1,4,25.00,0,0,West Indies,Colombo (RPS),3701,Oshane Thomas,914567,True,WestIndies,2015,20
15,8,9,88.88,0,0,New Zealand,Christchurch,3714,Oshane Thomas,914567,False,WestIndies,2015,20
16,7,8,87.50,0,0,England,Nottingham,3751,Oshane Thomas,914567,False,WestIndies,2016,20
17,3,4,75.00,0,0,England,Bristol,3755,Oshane Thomas,914567,True,WestIndies,2016,20
18,10,23,43.47,1,0,England,Cardiff,3758,Oshane Thomas,914567,False,WestIndies,2016,20
19,0,1,0.00,0,0,Australia,Pallekele,3776,Oshane Thomas,914567,False,WestIndies,2016,20

In [138]:
dtRPY.head()

                         Runs  Year
Start Date Batsman
1999       Chris Gayle     58  1999
           Shoaib Malik    15  1999
2000       Chris Gayle    273  2000
           Shoaib Malik    36  2000
2001       Chris Gayle    722  2001

In [151]:
dtRPY2 = dtBatsmanRPY[{"Batsman", "Year", "Runs_yr"}]

In [152]:
dtRPY = dtRPY2.drop_duplicates()

In [153]:
dtRPY = dtRPY.pivot(index = "Batsman", columns = "Year", values = "Runs_yr")

In [154]:
dtRPY = dtRPY.add_suffix('_runs')

In [155]:
dtRPY.head()

Year,1999_runs,2000_runs,2001_runs,2002_runs,2003_runs,2004_runs,2005_runs,2006_runs,2007_runs,2008_runs,...,2010_runs,2011_runs,2012_runs,2013_runs,2014_runs,2015_runs,2016_runs,2017_runs,2018_runs,2019_runs
Batsman,,,,,,,,,,,,,,,,,,,,,
Aaron Finch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,514.0,790.0,561.0,655.0,405.0,493.0,634.0
Abid Ali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.0
Adam Zampa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,6.0,33.0,10.0
Adil Rashid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,171.0,96.0,76.0,111.0,27.0
Aftab Alam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,NaN,NaN,1.0,18.0,NaN,NaN,36.0,0.0

In [156]:
# Merge long dataset of yearly runs to original data

dtLarge = pd.merge(dtBatsmanRPY, dtRPY, on = "Batsman")

In [160]:
len(dtLarge)

8818

In [161]:
# Remove yearly runs col
dtLarge.drop(columns = "Runs_yr")

,Runs_match,BF,SR,4s,6s,Opposition,Ground,Match_ID,Batsman,Player_ID,...,2010_runs,2011_runs,2012_runs,2013_runs,2014_runs,2015_runs,2016_runs,2017_runs,2018_runs,2019_runs
0,0,8,0.00,0,0,India,Dhaka,2941,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
1,1,3,33.33,0,0,England,Nottingham,3169,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
2,0,2,0.00,0,0,Australia,Pallekele,3175,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
3,0,2,0.00,0,0,Pakistan,Dubai (DSC),3212,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
4,0,4,0.00,0,0,Pakistan,Dhaka,3260,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
5,0,1,0.00,0,0,Bangladesh,Dhaka,3265,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
6,1,5,20.00,0,0,India,Port of Spain,3388,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
7,1,1,100.00,0,0,Pakistan,Sharjah,3445,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
8,2,11,18.18,0,0,Pakistan,Abu Dhabi,3448,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
9,4,5,80.00,0,0,England,The Oval,3492,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
10,0,3,0.00,0,0,New Zealand,Dunedin,3588,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
11,3,5,60.00,0,0,New Zealand,Dunedin,3590,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
12,7,17,41.17,0,0,New Zealand,Christchurch,3599,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
13,1,3,33.33,0,0,Pakistan,Colombo (RPS),3671,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
14,1,4,25.00,0,0,West Indies,Colombo (RPS),3701,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
15,8,9,88.88,0,0,New Zealand,Christchurch,3714,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
16,7,8,87.50,0,0,England,Nottingham,3751,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
17,3,4,75.00,0,0,England,Bristol,3755,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
18,10,23,43.47,1,0,England,Cardiff,3758,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
19,0,1,0.00,0,0,Australia,Pallekele,3776,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
20,0,1,0.00,0,0,West Indies,Harare,3805,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
21,3,12,25.00,0,0,South Africa,Port Elizabeth,3828,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
22,2,5,40.00,0,0,South Africa,Durban,3830,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
23,0,6,0.00,0,0,South Africa,Johannesburg,3831,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
24,20,28,71.42,1,1,South Africa,Centurion,3834,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
25,8,9,88.88,1,0,Bangladesh,Dambulla,3855,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
26,0,1,0.00,0,0,Bangladesh,Dambulla,3856,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
27,2,1,200.00,0,0,Bangladesh,Colombo (SSC),3858,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
28,0,3,0.00,0,0,South Africa,The Oval,3877,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
29,26,34,76.47,3,0,Pakistan,Cardiff,3888,Oshane Thomas,914567,...,0.0,1.0,0.0,4.0,4.0,20.0,20.0,104.0,52.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8788,1,3,33.33,0,0,Zimbabwe,Harare,3835,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8789,5,10,50.00,0,0,Zimbabwe,Harare,3837,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8790,16,32,50.00,2,0,Zimbabwe,Harare,3838,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8791,10,28,35.71,0,0,Zimbabwe,Harare,3840,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8792,6,8,75.00,1,0,Zimbabwe,Harare,3842,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8793,7,9,77.77,0,0,Ireland,Greater Noida,3850,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8794,0,1,0.00,0,0,Ireland,Greater Noida,3851,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8795,51,76,67.10,4,2,Ireland,Greater Noida,3852,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8796,2,9,22.22,0,0,Ireland,Greater Noida,3853,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8797,41,28,146.42,3,2,West Indies,Gros Islet,3884,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8798,51,73,69.86,2,2,West Indies,Gros Islet,3887,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8799,17,27,62.96,0,1,Ireland,Sharjah,3935,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8800,3,12,25.00,0,0,Ireland,Sharjah,3937,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8801,15,40,37.50,1,0,Ireland,Sharjah,3940,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8802,0,1,0.00,0,0,Zimbabwe,Sharjah,3974,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8803,11,18,61.11,0,0,Scotland,Bulawayo,3983,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8804,10,14,71.42,1,0,West Indies,Harare,3997,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8805,74,97,76.28,4,2,U.A.E.,Harare,4003,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8806,45,91,49.45,3,0,Ireland,Harare,4006,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8807,14,28,50.00,3,0,West Indies,Harare,4007,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8808,64,98,65.30,6,0,Ireland,Belfast,4032,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8809,7,14,50.00,1,0,Ireland,Belfast,4033,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8810,4,5,80.00,0,0,Sri Lanka,Abu Dhabi,4038,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8811,42,38,110.52,5,0,Bangladesh,Abu Dhabi,4041,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8812,10,7,142.85,1,0,Pakistan,Abu Dhabi,4043,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8813,0,2,0.00,0,0,Bangladesh,Abu Dhabi,4045,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8814,15,46,32.60,1,0,India,Dubai (DSC),4046,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8815,46,61,75.40,6,1,Ireland,Dehradun,4100,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8816,3,6,50.00,0,0,Ireland,Dehradun,4101,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0
8817,1,8,12.50,0,0,Ireland,Dehradun,4108,Gulbadin Naib,352048,...,NaN,0.0,49.0,21.0,82.0,0.0,84.0,225.0,296.0,50.0

Some discussion about where we need to go:

The objective is to predict the outcome of a cricket match. We will have the data for who is playing on each team, the ground, and all of our calculated features based on our data. 

We will assume we have all the data for both teams at the start, and the prediction is made before the toss (batting first will used as a feature). 

An approach that could be used, is to predict how many runs each player will make against the oppositions, and the team with the highest total wins, however there are more sophisticated ways to manage this. 

As a first stage, I will just try and build a prediction model for the number of runs scored by an individual batsmen in a given game on a given day. It is important to note the temporal nature of the data (Moving averages/measures of form will need to be introduced). 

Other thoughts:
- Ideally we would have more regressors